# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [ ]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [124]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to do that in Python
a = [1, 2, 3, 4, 5, 6]
new_arr = a[-3:]
print(new_arr)

[4, 5, 6]

In [125]:
# create a list of numbers from 1 to 100
lst = list(range(1,101))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [156]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
lst = list(range(2,101,2))
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [172]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def div(a,b):
    res = a/b
    return res
div(4,2)

2.0

In [186]:
# write a function that takes a string as input
# and return that string in all caps
def cap(str):
    str_cpy = str.upper()
    return str_cpy
cap("hi")

'HI'

In [187]:
# optional challenge - fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 100 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

In [199]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menu = {"Gyro": 9, "Burger":9,"Greek Salad" : 8, "Philly Steak": 10}
print(menu)

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [2]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import numpy as py
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")

ModuleNotFoundError: No module named 'numpy'

In [ ]:
# output the calories, sugars, and protein columns only of every 40th row. 
df.iloc[::40][["calories", "sugars", "protein"]]

In [ ]:
# select all rows with more than and including 400 calories
df[df["calories"] >= 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
df[df["vitamin c"] > df["iron"]]

In [ ]:
# create a new column containing the caffeine per calories of each drink
df["caffine_per_calories"] = df["caffine"] / df["calories"]

In [ ]:
# what is the average calorie across all items?
df["calories"].mean()

In [ ]:
# how many different categories of beverages are there?
print(df["beverage"].unique())

#mean calories for each beverage in general:
bvg = df.groupby("beverage")
bvg["calories"].mean()

In [ ]:
# what is the average # calories for each beverage category?
df.groupby(["beverage", "beverage_type"])["calories"].mean()

In [ ]:
# plot the distribution of the number of calories in drinks with a histogram
df["calories"].plot.hist(edgecolor='black', alpha=0.8, title="Calorie Content Distribution Across all drinks")

In [ ]:
# plot calories against total fat with a scatterplot
df.plot.scatter(x="calories", y="total_fat", title="Calories vs Total Fat Content")